:root {
  --width: 800px;
  --width--algobar: 30px;
}

html {
  margin: 0;
  padding: 0;
}

.algorithmContainer {
  display: flex;
  height: 300px;
  width:var(--width);
  text-align: center;
  /* border: 1px solid black; */
}

.algorithmBar {
  display: inline;
  background-color: black;
  width:var(--width--algobar);
  height: 250px;
  align-self: flex-end;
  margin: 0px 0.5px
}

.algorithmButtons {
  margin-top: 20px;
  margin-right: 10px;
}

.mainContainer {
  display: flex;
  width:var(--width, --width--algobar);
  margin: auto;
  margin-top: 100px;
  justify-content: center;
  flex-direction: column;
}

.custom-input {
  margin-right: 10px;
  margin-top: 20px;
}

.custom-input:hover{
  color: #212529 !important;
  background-color: #ffff !important;

}

input {
  position: relative;
}

.button-spacing {
  display: flex;
  justify-content: space-between;

}

.button-center {
  display: flex;
  justify-content: center;
}

.ac {
  display: flex;
  flex-direction: row;
}

.measure {
  min-width: 30px;
  min-height: 100%;
  font-size: 10px;
  margin-left: 10px;
}

.measure-bar {
  height: 100%;
  width: 3px;
  margin-left: 5px;
  background-color: black;
  position: relative;
}

.measure-sidebar {
  height: 3px;
  width: 10px;
  background-color: black;
  border: 1px solid black;
  position: relative;
}

.measure-sidebarnum {
  margin-left: 15px;
  top: -6.5px;
  font-weight: bold;
}

.measure-sidebar-layout > div{
  display: inline;
  position: absolute;
}

.measure-sidebar-layout{
  position: absolute;
}

.buttons{
  width:var(--width);
}

.algorithmButtons:last-of-type {
  margin-right: 0px;
}