html {
  margin: 0;
  padding: 0;
}

.algorithmContainer {
  display: flex;
  height: 300px;
  width: 100%;
  text-align: center;
  /* border: 1px solid black; */
}

.algorithmBar {
  display: inline;
  background-color: black;
  width: 30px;
  height: 250px;
  align-self: flex-end;
  margin: 0px 0.5px
}

.algorithmButtons {
  margin-top: 20px;
}

.mainContainer {
  display: flex;
  width: 800px;
  margin: auto;
  margin-top: 100px;
  justify-content: center;
  flex-direction: column;
}

.custom-input {
  margin-right: 10px;
  margin-top: 20px;
}

.custom-input:hover{
  color: #212529 !important;
  background-color: #ffff !important;

}